*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("shelf.jpg");
    background-size: cover;
}

h1 {
    background-color: #0074e4;
    color: white;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-height: 200px;
}

#book-list{
background-color: rgb(82, 145, 145);
}

thead{
    background-color: rgb(169, 137, 137);
    opacity: 0.5;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
}

.input{
    max-width: 533px;
    margin: 0 auto;
    text-align: left;
    background-color: #f2f2f2;
    padding: 0 5px;
    padding-top: 20px;
    margin-top: 2rem;
}

.book-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 2rem;
}

button{
    cursor: pointer;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 35%;
    margin-bottom: 15px ;
}

button:hover{
    border: 2.5px solid black;
}

/* .input[type="text"], .input[type="url"]{
    padding-left: 2px;
    font-size: 30px;
    height: 100px;
} */

#bookName ,#category ,#author ,#bookFile ,#bookImage{
    padding-left: 2px;
    font-size: 20px;
    height: 2.5rem;
}